<!DOCTYPE html>



<h1>検索結果</h1>

<%= render @drinks %>

地図

<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>検索結果</title>
  </head>
  <body>
    <p地図です。</p>

    <div id="map" style="width:1440px; height:700px"></div>


    <script type="text/javascript">
    function initMap() {
      var opts = {
        zoom: 20,
        center: new google.maps.LatLng(35.700088,139.77236420000003)
      };
      var map = new google.maps.Map(document.getElementById("map"), opts);

      var usrmarker = new google.maps.Marker( usrMarkerOptions )
      var usrMarkerOptions = new google.maps.Marker( {
        map: map ,	// 地図
        position: new google.maps.LatLng(35.700088,139.77236420000003), content:'現在地'	// 現在地座標
      } ) ;
      //for(venmakerid = 0; venmakerid < 50; venmakerid++) {    この部分はRailsからの受け取り方によって変動するので後回し
        //var venmaker [venmakerid] = new google.maps.Marker( VenMakerOptions )
        //var VenMakerOptions [0] = new google.maps.Maeker( {
          //map: map ,
          //position: new google.maps.LatLng() ,
        //} ) ;
      //}
    }

    $(function(){
     $(".open").click(function(){
      $("#slideBox").slideToggle("slow");
     });
});
    </script>

    <script async defer
      src="https://maps.googleapis.com/maps/api/js?language=ja&key=AIzaSyB3n3YCJPGGDIZ2ybJdls6Xyn_pY2tywUc&callback=initMap">
    </script>
    <div id="wrapper">

    <p class="open"><img alt="Rails logo" src="/assets/search.png" /></p>
    <div id="slideBox">
      <div>
      <%= form_tag('/vendings/show', :method => :get) do %>
      <%= label_tag 'name' %><%= text_field_tag :name, params[:name] %>
      <%= label_tag 'genre' %>
      <%= select_tag :genre, options_for_select(GenreList.all.map {|g| [g.name, g.id]}), :prompt => "ジャンル" %>
      <%= submit_tag ['検索'] %>
      <% end %>
      </div>
    </div>

    </div><!--wrapper-->
  </body>
</html>
