<h1>検索結果</h1>

<%= render @drinks %>

<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>検索結果</title>
  </head>
  <body>
    <p>地図です。</p>

    <div id="map" style="width:1440px; height:700px"></div>

    <script type="text/javascript">
    var vendings = JSON.parse('<%= raw @vendings.to_json %>');
    document.write('<%= raw @vendings.to_json %>');


    document.write(vendings.length);

    function attachMessage(marker, msg) {
      google.maps.event.addListener(marker, 'click', function(event) {
        new google.maps.InfoWindow({
          content: '<div class="sample">' + msg + '</div>'
        }).open(map, marker);
      });
    }

    function initMap() {
      var opts = {
        zoom: 20,
        center: new google.maps.LatLng(35.700088,139.77236420000003)
      };

      var map = new google.maps.Map(document.getElementById("map"), opts);

      var usrMarker = new google.maps.Marker( {
        map: map ,	// 地図
        position: new google.maps.LatLng(35.700088,139.77236420000003), // 現在地座標
      } ) ;

      var usrMarkerInfo = new google.maps.InfoWindow( {
        content: '<div class="sample">現在地</div>'
      } ) ;

      usrMarker.addListener('click', function() {
        usrMarkerInfo.open(map, usrMarker);
      } ) ;

      var venMarkers = [];
      var venMarkerInfos = [];


      for(var i=0;i<vendings.length;++i) {
        var venMarker = new google.maps.Marker({
          position: new google.maps.LatLng(vendings[i]["lat"], vendings[i]["lon"]),
          map: map
        });

        attachMessage(venMarker, "hoge");

      }

    }

    $(function(){
     $(".open").click(function(){
      $("#slideBox").slideToggle("slow");
     });
});
    </script>

    <script async defer
      src="https://maps.googleapis.com/maps/api/js?language=ja&key=AIzaSyB3n3YCJPGGDIZ2ybJdls6Xyn_pY2tywUc&callback=initMap">
    </script>
    <div id="wrapper">

    <p class="open"><img alt="Rails logo" src="/assets/search.png" /></p>
    <div id="slideBox">
      <div>
      <%= form_tag('/vendings/show', :method => :get) do %>
      <%= label_tag 'name' %><%= text_field_tag :name, params[:name] %>
      <%= label_tag 'genre' %>
      <%= select_tag :genre, options_for_select(GenreList.all.map {|g| [g.name, g.id]}), :prompt => "ジャンル" %>
      <%= submit_tag ['検索'] %>
      <% end %>
      </div>
    </div>

    </div><!--wrapper-->
  </body>
</html>
