<h1>Vendings#show</h1>

  <div>
  <%= form_tag('/vendings/show', :method => :get) do %>
  <%= label_tag 'name' %><%= text_field_tag :name, params[:name] %>
  <%= label_tag 'genre' %>
  <%= select_tag :genre, options_for_select(GenreList.all), include_blank: true %>
  <%= submit_tag ['検索'] %>
  <% end %>
  </div>

<p>検索画面</p>

地図
