<!DOCTYPE html>


<html lang="ja">
  <head>
    <meta charset="utf-8">
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-sidebar/3.1.0/jquery.sidebar.min.js"></script>
    <title>検索結果</title>
  </head>
  <body>
    <div id="map" style="width:100%; height:100vh"></div>

    <script type="text/javascript">
    var vendings = JSON.parse('<%= raw @vendings.to_json %>');
    // document.write('<%= raw @vendings.to_json %>');

    // document.write(vendings.length);

    function attachMessage(marker, msg) {
      google.maps.event.addListener(marker, 'click', function(event) {
        new google.maps.InfoWindow({
          content: '<div class="sample">' + msg + '</div>'
        }).open(map, marker);
      });
    }

    function initMap() {
      var opts = {
        zoom: 20,
        center: new google.maps.LatLng(35.700088,139.77236420000003)
      };

      var map = new google.maps.Map(document.getElementById("map"), opts);

      var usrMarker = new google.maps.Marker( {
        map: map ,	// 地図
        position: new google.maps.LatLng(35.700088,139.77236420000003), // 現在地座標
      } ) ;

      var usrMarkerInfo = new google.maps.InfoWindow( {
        content: '<div class="sample">現在地</div>'
      } ) ;

      usrMarker.addListener('click', function() {
        usrMarkerInfo.open(map, usrMarker);
      } ) ;

      var venMarkers = [];
      var venMarkerInfos = [];

      for(var i=0;i<vendings.length;++i) {
        var venMarker = new google.maps.Marker({
          position: new google.maps.LatLng(vendings[i]["lat"], vendings[i]["lon"]),
          map: map
        });

        attachMessage(venMarker, "hoge");
      }

    }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?language=ja&key=AIzaSyB3n3YCJPGGDIZ2ybJdls6Xyn_pY2tywUc&callback=initMap"></script>

    <a href="#"  data-action="open" data-side="left" class="btn"><img style="position:absolute; top:10px; left:120px; width: 40px; height: 40px;" src="/assets/search.png"></a>

    <div class="sidebar left">
      <div>
        <a href="#"  data-action="close" data-side="left" class="btn"><img style="margin: -20px 0px 0px 180px; width: 40px; height: 40px;" src="/assets/left.png"></a>
        <p><%= form_tag('/vendings/show', :method => :get) do %></p>
        <p><%= label_tag '名前' %>
        <!-- <%= text_field_tag :name, params[:name], :class => "form-control", placeholder: "入力してください" %></p> -->
        <%= text_field_tag :name, @word, placeholder: "例：コカ・コーラ", class: "form-control input-search-word" %></p>
        <label for="name">ジャンル</label>
        <p/><%= select_tag :genre, options_for_select(GenreList.all.map {|g| [g.name, g.id]}), :prompt => "ジャンル", :class => "form-control" %></p>
        <%= submit_tag("検索", :class => "btn btn-success" ) %>
        <% end %>

        <ul id="drink">
          <%= render @drinks %>
        </ul>
      </div>
    </div>


  </body>
</html>

<script>
$(document).ready(function () {
    // 向き
    var sides = ["left", "top", "right", "bottom"];

    // サイドバーの初期化
    for (var i = 0; i < sides.length; ++i) {
        var cSide = sides[i];
        $(".sidebar." + cSide).sidebar({side: cSide});
    }

    // ボタンのクリックにより...
    $(".btn[data-action]").on("click", function () {
        var $this = $(this);
        var action = $this.attr("data-action");
        var side = $this.attr("data-side");
        $(".sidebar." + side).trigger("sidebar:" + action);
        return false;
    });
});
</script>

<script type="text/javascript">
$(function(){
    $('#drink li').click(function(){
        var index = $(this).index() + 1;
        var text = $(this).text();
        // alert('要素:' + index + '番目' + text);
    });
});
</script>
